@tailwind base;
@tailwind components;
@tailwind utilities;

h4{
    font-size: 20px;
    font-weight: 500;
}

h3{
    font-size: 16px;
    font-weight: 400;
}

h2{
    font-size: 28px;
    font-weight: 500;
}


  body::-webkit-scrollbar {
    width: 12px;
  }
  /* body {
    scrollbar-width: thin;
    scrollbar-color: black black);
  } */
  body::-webkit-scrollbar-track {
    background: white;
  }
  body::-webkit-scrollbar-thumb {
    background-color: black ;
   
  }

  body{
    width: 100%;
  }

  .ant-drawer-header {
    background-color: #FAF9F6;
    
  }
  
  .ant-drawer-title {
    color: #fff;
  }
  
  .ant-drawer-body {
    background-color: #FAF9F6;
    color: black;
    height: calc(100vh - 55px);
   
  }